In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# =================================
# Orders Dataset Cleaning
# =================================

import pandas as pd

# Load raw orders dataset
orders = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_orders_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", orders.shape)

# List column names
print("\nColumns:", orders.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", orders.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", orders.duplicated().sum())

# Statistical + categorical overview
orders.describe(include='all')

Shape: (99441, 8)

Columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

Missing values:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Duplicates: 0

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-08-02 12:06:07,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-14 20:02:44,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [13]:
# -------------------------------
# Datetime conversion
# -------------------------------

# List of timestamp columns to convert
date_cols = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

# Convert string timestamps → datetime format
# errors='coerce' ensures invalid dates become NaT instead of crashing
for col in date_cols:
    orders[col] = pd.to_datetime(orders[col], errors='coerce')

# Verify updated data types
orders.dtypes

In [14]:
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [17]:
# -------------------------------
# Ensure cleaned data folder exists
# -------------------------------

import os

# Create cleaned directory if it doesn't exist
# This prevents file save errors in later steps
os.makedirs(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned",
    exist_ok=True
)

In [18]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned orders table to cleaned folder
orders.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/orders_clean.csv",
    index=False
)

print("Orders dataset cleaned and saved successfully ")

In [19]:
# =================================
# Customers Dataset Cleaning
# =================================

import pandas as pd

# Load raw customers dataset
customers = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_customers_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", customers.shape)

# List column names
print("\nColumns:", customers.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", customers.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", customers.duplicated().sum())

# Statistical + categorical overview
customers.describe(include='all')

Shape: (99441, 5)

Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

Missing values:
 customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Duplicates: 0

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,274fa6071e5e17fe303b9748641082c8,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [20]:
# -------------------------------
# Text normalization
# -------------------------------

# Standardize city names → lowercase + remove extra spaces
# Prevents grouping issues in analytics
customers['customer_city'] = customers['customer_city'].str.lower().str.strip()

# Standardize state codes → uppercase + remove extra spaces
customers['customer_state'] = customers['customer_state'].str.upper().str.strip()

In [21]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned customers table
customers.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/customers_clean.csv",
    index=False
)

print("Customers dataset cleaned and saved successfully ")

In [22]:
# =================================
# Order Items Dataset Cleaning
# =================================

import pandas as pd

# Load raw order_items dataset
order_items = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_order_items_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", order_items.shape)

# List column names
print("\nColumns:", order_items.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", order_items.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", order_items.duplicated().sum())

# Statistical + categorical overview
order_items.describe(include='all')

Shape: (112650, 7)

Columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

Missing values:
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Duplicates: 0

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
count,112650,112650.000000,112650,112650,112650,112650.000000,112650.000000
unique,98666,NaN,32951,3095,93318,NaN,NaN
top,8272b63d03f5f79c56e9e4120aec44ef,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23,NaN,NaN
freq,21,NaN,527,2033,21,NaN,NaN
mean,NaN,1.197834,NaN,NaN,NaN,120.653739,19.990320
std,NaN,0.705124,NaN,NaN,NaN,183.633928,15.806405
min,NaN,1.000000,NaN,NaN,NaN,0.850000,0.000000
25%,NaN,1.000000,NaN,NaN,NaN,39.900000,13.080000
50%,NaN,1.000000,NaN,NaN,NaN,74.990000,16.260000
75%,NaN,1.000000,NaN,NaN,NaN,134.900000,21.150000
max,NaN,21.000000,NaN,NaN,NaN,6735.000000,409.680000

In [23]:
# -------------------------------
# Datetime conversion
# -------------------------------

# Convert shipping_limit_date from text → datetime
# errors='coerce' ensures invalid timestamps become NaT safely
order_items['shipping_limit_date'] = pd.to_datetime(
    order_items['shipping_limit_date'],
    errors='coerce'
)

# Verify updated data types
order_items.dtypes

In [24]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned order_items table
order_items.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/order_items_clean.csv",
    index=False
)

print("Order items dataset cleaned and saved successfully ")

In [5]:
# =================================
# Payments Dataset Cleaning
# =================================

import pandas as pd

# Load raw payments dataset
payments = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_order_payments_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", payments.shape)

# List column names
print("\nColumns:", payments.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", payments.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", payments.duplicated().sum())

# Statistical + categorical overview
payments.describe(include='all')

Shape: (103886, 5)

Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

Missing values:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Duplicates: 0

,order_id,payment_sequential,payment_type,payment_installments,payment_value
count,103886,103886.000000,103886,103886.000000,103886.000000
unique,99440,NaN,5,NaN,NaN
top,fa65dad1b0e818e3ccc5cb0e39231352,NaN,credit_card,NaN,NaN
freq,29,NaN,76795,NaN,NaN
mean,NaN,1.092679,NaN,2.853349,154.100380
std,NaN,0.706584,NaN,2.687051,217.494064
min,NaN,1.000000,NaN,0.000000,0.000000
25%,NaN,1.000000,NaN,1.000000,56.790000
50%,NaN,1.000000,NaN,1.000000,100.000000
75%,NaN,1.000000,NaN,4.000000,171.837500
max,NaN,29.000000,NaN,24.000000,13664.080000

In [6]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned payments table
payments.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/payments_clean.csv",
    index=False
)

print("Payments dataset cleaned and saved successfully ")

In [7]:
# =================================
# Products Dataset Cleaning
# =================================

import pandas as pd

# Load raw products dataset
products = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_products_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", products.shape)

# List column names
print("\nColumns:", products.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", products.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", products.duplicated().sum())

# Statistical + categorical overview
products.describe(include='all')

Shape: (32951, 9)

Columns: ['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

Missing values:
 product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Duplicates: 0

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32951,32341,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
unique,32951,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,106392145fca363410d287a815be6de4,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,3029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,NaN,NaN,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,NaN,NaN,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,NaN,NaN,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,NaN,NaN,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,NaN,NaN,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,NaN,NaN,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [8]:
products['product_category_name'] = products['product_category_name'].fillna('unknown')

In [11]:
# -------------------------------
# Handle missing numeric values
# -------------------------------

# Numeric product metadata columns with missing values
# (Dataset contains spelling typo: "lenght" instead of "length")
num_cols = [
    'product_name_lenght',
    'product_description_lenght',
    'product_photos_qty',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm'
]

# Replace missing numeric values with 0
# 0 represents unknown measurement but preserves row integrity
products[num_cols] = products[num_cols].fillna(0)

In [28]:
products.rename(columns={
    'product_name_lenght': 'product_name_length',
    'product_description_lenght': 'product_description_length'
}, inplace=True)

In [29]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned products table
products.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/products_clean.csv",
    index=False
)

print("Products dataset cleaned and saved successfully ")

Products dataset cleaned and saved successfully

In [13]:
# =================================
# Sellers Dataset Cleaning
# =================================

import pandas as pd

# Load raw sellers dataset
sellers = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_sellers_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", sellers.shape)

# List column names
print("\nColumns:", sellers.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", sellers.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", sellers.duplicated().sum())

# Statistical + categorical overview
sellers.describe(include='all')

Shape: (3095, 4)

Columns: ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

Missing values:
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Duplicates: 0

,seller_id,seller_zip_code_prefix,seller_city,seller_state
count,3095,3095.000000,3095,3095
unique,3095,NaN,611,23
top,9e25199f6ef7e7c347120ff175652c3b,NaN,sao paulo,SP
freq,1,NaN,694,1849
mean,NaN,32291.059451,NaN,NaN
std,NaN,32713.453830,NaN,NaN
min,NaN,1001.000000,NaN,NaN
25%,NaN,7093.500000,NaN,NaN
50%,NaN,14940.000000,NaN,NaN
75%,NaN,64552.500000,NaN,NaN
max,NaN,99730.000000,NaN,NaN

In [14]:
# -------------------------------
# Text normalization
# -------------------------------

# Standardize seller city names → lowercase + trim spaces
# Prevents duplicate grouping issues during analytics
sellers['seller_city'] = sellers['seller_city'].str.lower().str.strip()

# Standardize seller state codes → uppercase + trim spaces
sellers['seller_state'] = sellers['seller_state'].str.upper().str.strip()

In [15]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned sellers table
sellers.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/sellers_clean.csv",
    index=False
)

print("Sellers dataset cleaned and saved successfully ")

In [ ]:
# =================================
# Reviews Dataset Cleaning
# =================================

import pandas as pd

# Load raw reviews dataset
reviews = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_order_reviews_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", reviews.shape)

# List column names
print("\nColumns:", reviews.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", reviews.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", reviews.duplicated().sum())
reviews['review_id'].duplicated().sum()

# Statistical + categorical overview
reviews.describe(include='all')

Shape: (99224, 7)

Columns: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

Missing values:
 review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Duplicates: 0

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,99224,99224,99224.000000,11568,40977,99224,99224
unique,98410,98673,NaN,4527,36159,636,98248
top,4548534449b1f572e357211b90724f1b,03c939fd7fd3b38f8485a0f95798f1f6,NaN,Recomendo,Muito bom,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,3,NaN,423,230,463,4
mean,NaN,NaN,4.086421,NaN,NaN,NaN,NaN
std,NaN,NaN,1.347579,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,5.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,5.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,5.000000,NaN,NaN,NaN,NaN

In [17]:
# -------------------------------
# Handle missing review text
# -------------------------------

# Many users leave ratings without writing comments.
# Replace missing text fields with placeholders
# to avoid NULL handling issues in SQL later.

reviews['review_comment_title'] = reviews['review_comment_title'].fillna('no_title')
reviews['review_comment_message'] = reviews['review_comment_message'].fillna('no_comment')

In [18]:
# -------------------------------
# Datetime conversion
# -------------------------------

# Convert review timestamps from text → datetime
# Enables time-based analytics (response delay, trends, etc.)

reviews['review_creation_date'] = pd.to_datetime(reviews['review_creation_date'])
reviews['review_answer_timestamp'] = pd.to_datetime(reviews['review_answer_timestamp'])

# Verify updated data types
reviews.dtypes

In [19]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export cleaned reviews table
reviews.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/reviews_clean.csv",
    index=False
)

print("Reviews dataset cleaned and saved successfully ")

In [20]:
# =================================
# Geolocation Dataset Cleaning
# =================================

import pandas as pd

# Load raw geolocation dataset
geo = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/olist_geolocation_dataset.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

# Check dataset shape (rows × columns)
print("Shape:", geo.shape)

# List column names
print("\nColumns:", geo.columns.tolist())

# Check missing values per column
print("\nMissing values:\n", geo.isnull().sum())

# Check duplicate rows
print("\nDuplicates:", geo.duplicated().sum())

# Statistical + categorical overview
geo.describe(include='all')

Shape: (1000163, 5)

Columns: ['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

Missing values:
 geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Duplicates: 261831

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
count,1.000163e+06,1.000163e+06,1.000163e+06,1000163,1000163
unique,NaN,NaN,NaN,8011,27
top,NaN,NaN,NaN,sao paulo,SP
freq,NaN,NaN,NaN,135800,404268
mean,3.657417e+04,-2.117615e+01,-4.639054e+01,NaN,NaN
std,3.054934e+04,5.715866e+00,4.269748e+00,NaN,NaN
min,1.001000e+03,-3.660537e+01,-1.014668e+02,NaN,NaN
25%,1.107500e+04,-2.360355e+01,-4.857317e+01,NaN,NaN
50%,2.653000e+04,-2.291938e+01,-4.663788e+01,NaN,NaN
75%,6.350400e+04,-1.997962e+01,-4.376771e+01,NaN,NaN
max,9.999000e+04,4.506593e+01,1.211054e+02,NaN,NaN

In [21]:
# -------------------------------
# Aggregate duplicate geolocation records
# -------------------------------

# Raw geolocation table contains multiple GPS samples
# for the same ZIP code. We collapse duplicates so that
# each ZIP code has one representative location.

geo_clean = geo.groupby('geolocation_zip_code_prefix').agg({
    'geolocation_lat': 'mean',     # average latitude
    'geolocation_lng': 'mean',     # average longitude
    'geolocation_city': 'first',   # keep representative city
    'geolocation_state': 'first'   # keep representative state
}).reset_index()

# Check new size after aggregation
geo_clean.shape

In [22]:
geo_clean.shape

(19015, 5)

In [23]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

# Export aggregated geolocation table
geo_clean.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/geolocation_clean.csv",
    index=False
)

print("Geolocation dataset cleaned and saved successfully ")

In [24]:
# =================================
# Product Category Translation Cleaning
# =================================

import pandas as pd

# Load translation dataset
translation = pd.read_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/raw/product_category_name_translation.csv"
)

# -------------------------------
# Basic inspection
# -------------------------------

print("Shape:", translation.shape)
print("\nColumns:", translation.columns.tolist())
print("\nMissing values:\n", translation.isnull().sum())
print("\nDuplicates:", translation.duplicated().sum())

translation.describe(include='all')

Shape: (71, 2)

Columns: ['product_category_name', 'product_category_name_english']

Missing values:
 product_category_name            0
product_category_name_english    0
dtype: int64

Duplicates: 0

       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

In [25]:
# -------------------------------
# Defensive text normalization
# -------------------------------

translation['product_category_name'] = (
    translation['product_category_name']
    .str.lower()
    .str.strip()
)

translation['product_category_name_english'] = (
    translation['product_category_name_english']
    .str.lower()
    .str.strip()
)

In [27]:
# -------------------------------
# Save cleaned dataset
# -------------------------------

translation.to_csv(
    "/content/drive/MyDrive/sql-ecommerce-analytics/data/cleaned/category_translation_clean.csv",
    index=False
)

print("Category translation cleaned and saved successfully ")

Category translation cleaned and saved successfully